<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row product-info">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>


    <% @product.reviews.any? do %>
      <h3>Product reviews:</h3>
      <div class="reviews-container table-responsive">
        <div class="row">
          <div class="col-sm-2">
            Product Id
          </div>
          <div class="col-sm-2">
            User Id
          </div>
          <div class="col-sm-2">
            Description
          </div>
          <div class="col-sm-1">
            Rating
          </div>
          <div class="col-sm-2">
            Created At
          </div>
          <div class="col-sm-1">
          </div>
        </div>

        <% @product.reviews.reverse_each do |review| %>
          <div class="row">
            <div class="col-sm-2">
              <%= review.product_id %>
            </div>
            <div class="col-sm-2">
              <%= review.user_id %>
            </div>
            <div class="col-sm-2">
              <%= review.description %>
            </div>
            <div class="col-sm-1">
              <%= display_stars(review.rating) %>
            </div>
            <div class="col-sm-2">
              <%= review.created_at.strftime("%m/%d/%Y") %>
            </div>
            <div class="col-sm-1">
              <% if current_user && review.user_id == current_user.id %>
                <%= link_to fa_icon('trash'), review_path(review_id: review.id), method: 'DELETE', class: 'btn btn-sm btn-danger' %>
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>

        <% if current_user %>
          <div class="new-review-form">
            <div class="row">
              <%= form_for [@product, @review] do |form| %>

                <div>
                  Have you tried this product before?<br />Leave a review!
                </div>

                <div>
                  <%= form.label :rating do "Rating:" end %>
                  <%= form.select :rating, (1..5) %>
                </div>

                <div>
                  <%= form.label :description do "Description:" end %>
                  <%= form.text_area :description, class: 'textarea' %>
                </div>

                <div class="submit">
                  <%= form.submit 'Submit review', class: 'btn btn-primary' %>
                </div>

              <% end %>
            </div>
          </div>
        <% end %>

      </div>

  </article>

</section>
