<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>


    <% @product.reviews.any? do %>
      <div class="reviews-container table-responsive">
        <div class="row">
          <div class="col-sm-2">
            Product Id
          </div>
          <div class="col-sm-2">
            User Id
          </div>
          <div class="col-sm-2">
            Description
          </div>
          <div class="col-sm-1">
            Rating
          </div>
          <div class="col-sm-2">
            Created At
          </div>
          <div class="col-sm-2">
            Updated At
          </div>
          <div class="col-sm-1">
          </div>
        </div>

        <% @product.reviews.reverse_each do |review| %>
          <div class="row">
            <div class="col-sm-2">
              <%= review.product_id %>
            </div>
            <div class="col-sm-2">
              <%= review.user_id %>
            </div>
            <div class="col-sm-2">
              <%= review.description %>
            </div>
            <div class="col-sm-1">
              <%= review.rating %>
            </div>
            <div class="col-sm-2">
              <%= review.created_at.strftime("%Y-%b-%d %I:%M%p") %>
            </div>
            <div class="col-sm-2">
              <%= review.updated_at.strftime("%Y-%b-%d %I:%M%p") %>
            </div>
            <div class="col-sm-1">
              <% if current_user && review.user_id == current_user.id %>
                <%= link_to 'Delete', review_path(review_id: review.id), method: 'DELETE' %>
              <% end %>
            </div>
          </div>
        <% end %>

    <% end %>

        <% if current_user %>
          <div class="new-review-form">
            <div class="row">
              <%= form_for [@product, @review] do |form| %>

                <div class="col-sm-2">
                  Have you tried this product before? Leave a review!
                </div>

                <div class="col-sm-2">
                  <div class="form-group">
                    <%= form.label :rating %>
                    <%= form.select :rating, (1..5) %>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <%= form.label :description %>
                    <%= form.text_area :description, class: 'textarea' %>
                  </div>
                </div>

                <div class="col-sm-2">
                  <%= form.submit 'Submit review', class: 'btn btn-primary' %>
                </div>

              <% end %>
            </div>
          </div>
        <% end %>

      </div>

  </article>

</section>
