<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row product-info">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% @product.reviews.any? do %>
      <h3>Customer reviews</h3>
        <% @product.reviews.reverse_each do |review| %>
          <%= render partial: "review", locals: { review: review, user: @reviews_users[review.id] } %>
        <% end %>
    <% end %>

      <% if current_user %>
        <div class="new-review-form">
          <%= form_for [@product, @review] do |form| %>

            <div class="have-you-tried">
              Have you tried this product before?<br />Leave a review!
            </div>

            <div>
              <%= form.label :rating do "Rating" end %><br />
              <%= form.select :rating, (1..5) %>
            </div>

            <div>
              <%= form.label :description do "Description" end %><br />
              <%= form.text_area :description, class: 'textarea', rows: 3, cols: 50 %>
            </div>

            <div class="submit">
              <%= form.submit 'Submit review', class: 'btn btn-primary' %>
            </div>

          <% end %>
        </div>
      <% end %>

  </article>

</section>
